@charset "utf-8";

  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      font-size: 50px;
  }
  .logo {
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      background-color: #fff !important;
  }
  .panel-heading {
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  /*.navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }*/
  .navbar-logo {
      font-size: 25px;
  }
 
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
   #submit1 {
    	margin-top: 20px;
    }
  }
  .navbar-toggle {
    border: none;
    background: transparent !important;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }
  .navbar-toggle .icon-bar {
    transition: all 0.2s;
  }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggle .middle-bar {
    opacity: 0;
  }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
  }
  .navbar-toggle.collapsed .navbar-logo {
    opacity: 0;
  }
  /*----COLOR THEME SECTION----*/
  /*
	----COLORS----
	Dark Gray: #303030
	Bright Green: #ccff33
	Green: #ace600
	
   */
  
    h2, h4, footer .glyphicon, .panel-footer .btn:hover, .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #303030 !important;
  }
   .logo-small, .logo, .carousel-control.right, .carousel-control.left {
      color: #ace600 !important;
  }
   .panel, .panel-footer .btn:hover, .carousel-indicators li {
      border: 1px solid #303030 !important; 
  }
  .carousel-indicators li {
      border: 1px solid #ace600 !important; 
  }
  .carousel-indicators li.active {
      background-color: #ace600 !important;
  }
  .carousel-indicators li {
      border-color: #ace600 !important;
  }
  .jumbotron, .panel-heading, .navbar, .panel-footer .btn {
      background-color: #303030 !important;
  }
  .navbar-toggle .icon-bar, .navbar li a, .navbar .navbar-brand, .jumbotron, .panel-heading {
   color: #ccff33 !important;
  }
   .navbar-toggle .icon-bar, .navbar-nav li a:hover, .navbar-nav li.active a {
      background-color: #ccff33 !important;
  }
  
  /*----MISC HELPERS----*/
  .td-admin {
  	text-align: center;
  }   
  
  td, th {
      border:1px solid #c0c0c0 !important;
      border-radius: 6px 6px 6px 6px;
  }
  
  
  table {
      border-spacing: 12px;
      border-collapse: separate;
      border-style: none !important;
  }
  
  /*----ANIMATIONS----*/
    .animate-show {
    opacity: 1;
  }
  
  .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.2s;
  }
  
  .animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0;
  } 
  